

@if(loading()) {
    <h2>Loading spells...</h2>
}

@if(error()) {
    <h2 class="error">{{error()}}</h2>
} 

@if(error() === null && !loading()) {
    @if(spells().length === 0) {
        <h2>No spells found. Please try again later.</h2>
    } @else if(spells().length > 0) {
        <h2>Harry Potter Spells</h2>
        <h3>Total Spells: {{spells().length}}</h3>
        <table>
            <tr>
                <th>Spell</th>
                <th>When to use?</th>
            </tr>
            @for(spell of spells(); track spell.index) {
                <tr class="row">
                    <td>{{spell.spell}}</td>
                    <td>{{spell.use}}</td>
                </tr>
            }
        </table>
    } 
}
